.a1{
    background-color: darkslateblue;
    padding: 0.5px;
    padding-bottom: 0.5px;
}




.hi:hover {
    background-color:#002ead;
  
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}